<div class="hierarchicalListContainer flex flex-column showBorderL" [ngClass]="{
        'active': isActive,
        'showBorderR': isListRoot,
        'isRoot': isListRoot
    }">
    <!-- Add Article Button -->
    <div class="flex-column left flex justify-content-start align-items-center" *ngIf="searchValue">
        <div class="article borderTop w-full relative flex flex-row align-content-center justify-content-between hideChildUntilHoverParent borderBottom"
            (click)="addArticleEvent.emit(searchValue); searchValue = ''" [pTooltip]="'Add article ' + searchValue">
            <div class="iconoir iconoir-page-plus-in activeEntryFolderIcon active"></div>
            <div class="entryText pointerOnHover flex-grow-1">
                {{'New: ' + searchValue}}
            </div>
        </div>
    </div>
    <div
        *ngFor="let articleHierarchyNode of isListRoot && !searchValue 
        ? (hierarchyDirection === 'down' 
            ? (hierarchyNodeList | articleHierarchyListRootFilter) 
            : hierarchyNodeList) 
        : (hierarchyNodeList | articleHierarchyListStringFilter:searchValue); first as isFirst; last as isLast; index as i">
        <div class="pseudoBorder top" *ngIf="isFirst && !searchValue"
            [ngClass]="{'active': currentWorkspace.viewedArticles.includes(articleHierarchyNode.node.name)}"></div>
        <div class="articleContainer flex-column left flex justify-content-start align-items-center" [ngClass]="{
                'active': currentWorkspace.viewedArticles.includes(articleHierarchyNode.node.name),
            }">
            <!-- Article Name & Buttons -->
            <div #articleNameAndButtons (click)="articleClickedEmitter.emit(articleHierarchyNode.node)"
                (contextmenu)="$event.preventDefault(); setlastRightClickedArticle(articleHierarchyNode); contextMenu.toggle($event)"
                class="article w-full relative flex flex-row align-content-end hideChildUntilHoverParent showBorderL pointerOnHover"
                [pTooltip]="articleHierarchyNode.node.name" [ngClass]="{
                    'active': currentWorkspace.viewedArticles.includes(articleHierarchyNode.node.name),
                    'highlighted': false
            }">
                <i class="iconoir activeEntryFolderIcon" [ngClass]="{
                        'iconoir-hashtag': articleHierarchyNode.children.length > 0, 
                        'iconoir-page': articleHierarchyNode.children.length === 0, 
                        'active': currentWorkspace.viewedArticles.includes(articleHierarchyNode.node.name)
                        }"></i>
                <div class="entryText">
                    {{articleHierarchyNode.node.name}}
                    <span class="articleParent" *ngFor="let parent of (listParent ? (articleHierarchyNode.parents | articleHierarchyNodesFilter:(listParent.node.name)) : articleHierarchyNode.parents)">#{{parent.node.name}}</span>
                </div>
                <i #contextMenuButton
                    class="contextMenuBtn absoluteRight iconoir iconoir-more-vert hideChildUntilHoverChild pointerOnHover"
                    [ngClass]="{'active': currentWorkspace.viewedArticles.includes(articleHierarchyNode.node.name)}"
                    pTooltip="Open Context Menu"
                    (click)="$event.stopPropagation(); setlastRightClickedArticle(articleHierarchyNode); contextMenu.toggle($event)"></i>
            </div>

            <!-- Article Entry Context Menu -->
            <p-contextMenu #contextMenu [model]="items" [triggerEvent]="'click'"></p-contextMenu>

            <!-- Subarticles List -->
            <app-hierarchical-list class="w-full"
                *ngIf="hierarchyDirection === 'down' ? articleHierarchyNode.children.length > 0 : articleHierarchyNode.parents.length > 0"
                [project]="project"
                [hierarchyNodeList]="hierarchyDirection === 'down' ? articleHierarchyNode.children : articleHierarchyNode.parents"
                [isActive]="currentWorkspace.viewedArticles.includes(articleHierarchyNode.node.name)"
                [hierarchyDirection]="hierarchyDirection" [currentWorkspace]="currentWorkspace"
                [listParent]="articleHierarchyNode"
                (articleClickedEmitter)="this.articleClickedEmitter.emit($event)">
            </app-hierarchical-list>
        </div>
        <div class="pseudoBorder bottom"
            [ngClass]="{'active': currentWorkspace.viewedArticles.includes(articleHierarchyNode.node.name)}"></div>
    </div>
</div>
<div class="w-full" *ngIf="hierarchyNodeList.length === 0 && !searchValue">
    <div class="tutorial-text w-full" style="padding: 5px;">
        Type a name into the action bar to the right to <b>find</b> or <b>add</b> an article by that name
    </div>
</div>