<span class="p-input-icon-right w-full" *ngIf="showSearch && isListRoot">
    <input type="text" class="w-full searchInput" [placeholder]="'Search '+project.title"
        pTooltip="Find/Add Articles" tooltipPosition="right" pInputText [(ngModel)]="searchValue" />
</span>
<div class="hierarchicalListContainer flex flex-column overflowScroll showBorderL" [ngClass]="{
        'active': isActive,
        'showBorderR': isListRoot,
        'showMargin': isListRoot
    }">
    <!-- Add Article Button -->
    <div class="flex-column left flex justify-content-start align-items-center" *ngIf="searchValue">
        <div class="article borderTop w-full relative flex flex-row align-content-center justify-content-between hideChildUntilHoverParent borderBottom"
            (click)="addArticleEvent.emit(searchValue); searchValue = ''" [pTooltip]="'Add article ' + searchValue">
            <i class="pi pi-plus activeEntryFolderIcon active"></i>
            <div class="entryUniqueName pointerOnHover flex-grow-1">
                {{'New: ' + searchValue}}
            </div>
        </div>
    </div>
    <div style="overflow-y: hidden; overflow-x: hidden;"
        *ngFor="let articleHierarchyNode of isListRoot && !searchValue 
        ? (hierarchyDirection === 'down' ? (hierarchyNodeList | articleHierarchyListRootFilter) : hierarchyNodeList) 
        : (hierarchyNodeList | articleHierarchyListStringFilter:searchValue); first as isFirst; last as isLast; index as i">
        <div class="pseudoBorder top" *ngIf="isFirst && !searchValue"
            [ngClass]="{'active': currentWorkspace.viewedArticles.includes(articleHierarchyNode.node.name)}"></div>
        <div class="articleContainer flex-column left flex justify-content-start align-items-center" [ngClass]="{
                'active': currentWorkspace.viewedArticles.includes(articleHierarchyNode.node.name),
            }">
            <!-- Article Name & Buttons -->
            <div #articleNameAndButtons (click)="articleClickedEmitter.emit(articleHierarchyNode.node)"
                (contextmenu)="$event.preventDefault(); setlastRightClickedArticle(articleHierarchyNode); contextMenu.toggle($event); dummy.click()"
                class="article w-full relative flex flex-row align-content-center hideChildUntilHoverParent showBorderL"
                [pTooltip]="articleHierarchyNode.node.name" [ngClass]="{
                    'active': currentWorkspace.viewedArticles.includes(articleHierarchyNode.node.name),
                    'highlighted': false
            }">
                <i class="pi activeEntryFolderIcon" [ngClass]="{
                        'pi-hashtag': articleHierarchyNode.children.length > 0, 
                        'pi-file': articleHierarchyNode.children.length === 0, 
                        'active': currentWorkspace.viewedArticles.includes(articleHierarchyNode.node.name)
                        }"></i>
                <div class="entryUniqueName pointerOnHover flex-grow-1">{{articleHierarchyNode.node.name}}</div>
                <i #contextMenuButton
                    class="contextMenuBtn absoluteRight pi pi-ellipsis-v hideChildUntilHoverChild pointerOnHover"
                    [ngClass]="{'active': currentWorkspace.viewedArticles.includes(articleHierarchyNode.node.name)}"
                    pTooltip="Open Context Menu"
                    (click)="$event.stopPropagation(); setlastRightClickedArticle(articleHierarchyNode); contextMenu.toggle($event); dummy.click()"></i>
            </div>

            <!-- Article Entry Context Menu -->
            <p-contextMenu #contextMenu [model]="items" [triggerEvent]="'click'"></p-contextMenu>

            <!-- Subarticles List -->
            <app-hierarchical-list class="w-full"
                *ngIf="hierarchyDirection === 'down' ? articleHierarchyNode.children.length > 0 : articleHierarchyNode.parents.length > 0"
                [project]="project"
                [hierarchyNodeList]="hierarchyDirection === 'down' ? articleHierarchyNode.children : articleHierarchyNode.parents"
                [isActive]="currentWorkspace.viewedArticles.includes(articleHierarchyNode.node.name)"
                [hierarchyDirection]="hierarchyDirection" [currentWorkspace]="currentWorkspace"
                (articleClickedEmitter)="this.articleClickedEmitter.emit($event)"> 
            </app-hierarchical-list>
        </div>
        <div class="pseudoBorder bottom"
            [ngClass]="{'active': currentWorkspace.viewedArticles.includes(articleHierarchyNode.node.name)}"></div>
    </div>
</div>
<!-- This element exists purely to fix the #contextMenu requiring two clicks to close -->
<div #dummy style="visibility: hidden;"></div>