<div class="flex flex-column h-full">
  <div class="flex flex-row">
    <input #projectName type="text" class="projectTitleInput" placeholder="New Project Name" pInputText
      tooltipPosition="bottom" pTooltip="Enter a name for the new project" />
    <div class="iconButton" style="margin-right: 2px" (click)="projectEventEmitter.emit(['new', projectName.value])"
      tooltipPosition="bottom"
      [pTooltip]="projectName.value ? 'Create Project \n\'' + projectName.value + '\'' : 'Create New\nProject'">
      <i class="iconoir iconoir-plus"></i>
    </div>
    <div class="iconButton" [pTooltip]="'More Options'" (click)="newProjectMenu.show($event)">
      <i class="iconoir iconoir-more-vert"></i>
      <p-contextMenu #newProjectMenu appendTo="body" [model]="newProjectMenuItems"></p-contextMenu>
    </div>
  </div>
  <div class="pseudoBorder vmarg"></div>
  <div class="flex flex-row" style="margin-bottom: 2px;" *ngFor="let p of allProjects ?? []">
    <input #projectName type="text" class="settingsTextInput" placeholder="Project Name" pInputText
      pTooltip="You may change the name of the project" tooltipPosition="bottom" [(ngModel)]="p.title" [ngClass]="{
        'active': p.title === activeProject,
      }" />
    <div [ngClass]="{
      'active': p.title === activeProject,
    }" class="flex flex-row textBox justify-content-between"
      [pTooltip]="'Project was last saved\n' + ((p.lastModified | date:'dd.MMM.yy, hh:mm a') ?? 'some point in time')"
      tooltipPosition="bottom">
      <div>{{ p.lastModified | date:'dd.MMM.yy, hh:mm a'}}</div>
    </div>
    <!--<div [ngClass]="{
      'active': p.title === activeProject,
    }" class="flex flex-row textBox justify-content-between" pTooltip="Amound of articles in this project">
      <div>Article Count</div>
    </div>-->
    <div *ngIf="p.title !== activeProject" (click)="projectEventEmitter.emit(['load', p.title])" [ngClass]="{
      'active': p.title === activeProject,
    }" class="iconButton" style="margin-right: 2px;" [pTooltip]="'Load ' + p.title" tooltipPosition="left">
      <div class="iconoir iconoir-open-in-browser"></div>
    </div>
    <div *ngIf="p.title === activeProject" (click)="projectEventEmitter.emit(['saveas', p.title])" [ngClass]="{
      'active': p.title === activeProject,
    }" class="iconButton" style="margin-right: 2px;" [pTooltip]="'Save changes to ' + p.title" tooltipPosition="left">
      <div class="iconoir iconoir-floppy-disk-arrow-in"></div>
    </div>
    <div (click)="lastClickedProject = p.title; existingProjectMenu.show($event)" [ngClass]="{
      'active': p.title === activeProject,
    }" class="iconButton" [pTooltip]="'More Options'" tooltipPosition="left">
      <i class="iconoir iconoir-more-vert"></i>
      <p-contextMenu #existingProjectMenu appendTo="body" [model]="existingProjectMenuItems"></p-contextMenu>
    </div>
  </div>

  <div class="flex flex-column h-full justify-content-center align-items-center">
    <div class="tutorial-text" *ngIf="((allProjects ?? []).length ?? 0) === 0">
      <p>Your projects will be listed here</p>
      <p>Enter a project name and click + to add a the project</p>
      <p>You can also import an existing project by clicking ︙</p>
    </div>
  </div>
</div>