.textBox {
    transition: border-color 0.2s;
    border: 1px solid var(--surface-border);
    padding: 8px;
    width: max-content;
    margin-right: 2px;
    white-space: nowrap;
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: -2px;


    &.active {
        border-bottom: 1px solid var(--primary-color);
    }
}

.settingsTextInput {
    margin-right: 2px;
    width: 100%;

    &.active:not(:focus):not(:hover) {
        border-bottom: 1px solid var(--primary-color);
    }
}

.iconButton {
    transition: border-color 0.2s;
    height: auto;
    width: 30px;
    border: 1px solid var(--surface-border);
    color: var(--text-color-secondary);
    border-radius: 3px;

    &.active {
        border-bottom: 1px solid var(--primary-color);
    }

    .pi {
        margin: 5px;
    }

    &:hover {
        cursor: pointer;
        color: var(--text-color-primary);
    }
}