<p-panel [toggleable]="true" #panel class="note-panel">
  <ng-template pTemplate="header">
    Title
    <div class="flex-grow-1"></div>
    <div>

    </div>
    <div class="flex-grow-1"></div>
  </ng-template>
  <ng-template pTemplate="icons">
    <button (click)="$event.stopPropagation()" pButton pRipple type="button" icon="pi pi-angle-up"
      class="p-panel-header-icon"></button>
    <button (click)="$event.stopPropagation()" pButton pRipple type="button" icon="pi pi-angle-down"
      class="p-panel-header-icon"></button>
    <button (click)="panel.toggle($event); $event.stopPropagation()" pButton pRipple type="button"
      [icon]="'pi '+(panel.collapsed?'pi-plus':'pi-minus')" class="p-panel-header-icon"></button>
    <button (click)="$event.stopPropagation()" pButton pRipple type="button" icon="pi pi-times"
      class="p-panel-header-icon"></button>
  </ng-template>
  <ng-template pTemplate="content">
    <div class="w-max flex flex-row attributes float-right">
      <div class="flex flex-column ">
        <div class="w-full flex flex-row big bold">
          <span>Monster</span>
        </div>
        <div class="w-full flex flex-row italic">
          <span>Medium humanoid, any alignment</span>
        </div>
        <div class="separator-medium"></div>
        <div class="w-full flex flex-row">
          <span class="bold">Armor Class</span> <span>10</span>
        </div>
        <div class="w-full flex flex-row">
          <span class="bold">Hit Points</span> <span>22</span>
        </div>
        <div class="w-full flex flex-row">
          <span class="bold">Speed</span><span>30 ft.</span>
        </div>
        <div class="separator-medium"></div>
        <div class="w-full flex flex-row">
          <div class="flex flex-column align-items-center">
            <span class="bold w-max">STR</span>
            <span>10 (+0)</span>
          </div>
          <div class="flex flex-column align-items-center">
            <span class="bold">DEX</span>
            <span>10 (+0)</span>
          </div>
          <div class="flex flex-column align-items-center">
            <span class="bold">CON</span>
            <span>10 (+0)</span>
          </div>
          <div class="flex flex-column align-items-center">
            <span class="bold">INT</span>
            <span>10 (+0)</span>
          </div>
          <div class="flex flex-column align-items-center">
            <span class="bold">WIS</span>
            <span>10 (+0)</span>
          </div>
          <div class="flex flex-column align-items-center">
            <span class="bold">CHA</span>
            <span>10 (+0)</span>
          </div>
        </div>
        <div class="separator-medium"></div>
        <div class="w-full flex flex-row">
          <span class="bold">Senses</span>
          <span>passive Perception 10</span>
        </div>
        <div class="w-full flex flex-row">
          <span class="bold">Languages</span>
          <span>-</span>
        </div>
        <div class="w-full flex flex-row">
          <span class="bold">Challenge</span>
          <span>1 (200 XP)</span>
        </div>
        <div class="separator-medium"></div>
      </div>
    </div>
    <div class="w-max flex flex-row attributes float-right">
      <div class="flex flex-column ">
        <div class="w-full flex flex-row big bold">
          <span>Monster</span>
        </div>
        <div class="w-full flex flex-row italic">
          <span>Medium humanoid, any alignment</span>
        </div>
        <div class="separator-medium"></div>
        <div class="w-full flex flex-row">
          <span class="bold">Armor Class</span> <span>10</span>
        </div>
        <div class="w-full flex flex-row">
          <span class="bold">Hit Points</span> <span>22</span>
        </div>
        <div class="w-full flex flex-row">
          <span class="bold">Speed</span><span>30 ft.</span>
        </div>
        <div class="separator-medium"></div>
        <div class="w-full flex flex-row">
          <div class="flex flex-column align-items-center">
            <span class="bold w-max">STR</span>
            <span>10 (+0)</span>
          </div>
          <div class="flex flex-column align-items-center">
            <span class="bold">DEX</span>
            <span>10 (+0)</span>
          </div>
          <div class="flex flex-column align-items-center">
            <span class="bold">CON</span>
            <span>10 (+0)</span>
          </div>
          <div class="flex flex-column align-items-center">
            <span class="bold">INT</span>
            <span>10 (+0)</span>
          </div>
          <div class="flex flex-column align-items-center">
            <span class="bold">WIS</span>
            <span>10 (+0)</span>
          </div>
          <div class="flex flex-column align-items-center">
            <span class="bold">CHA</span>
            <span>10 (+0)</span>
          </div>
        </div>
        <div class="separator-medium"></div>
        <div class="w-full flex flex-row">
          <span class="bold">Senses</span>
          <span>passive Perception 10</span>
        </div>
        <div class="w-full flex flex-row">
          <span class="bold">Languages</span>
          <span>-</span>
        </div>
        <div class="w-full flex flex-row">
          <span class="bold">Challenge</span>
          <span>1 (200 XP)</span>
        </div>
        <div class="separator-medium"></div>
      </div>
    </div>
    <div [innerHtml]="lorem | parseMarkup"></div>
  </ng-template>
</p-panel>
