.alert {
    border: 1px solid var(--bg1);
    border-radius: 10px;
    width: 300px;
    .summary {
        width: 100%;
        padding: 10px;
    }
    .actions{
        padding: 10px;
        border-left: 1px solid var(--bg1);
        .pi {
            transition: color 0.1s;
            color: var(--fg2);
            font-size: larger;
            &:hover {
                cursor: pointer;
                color: var(--fg);
            }
        }
    }
}