<div class="flex flex-row h-full">
  <!-- Left Sidebar -->
  <div class="left sidebar min-h-full w-2 p-shadow-3 overflow-hidden z-3 p-1 flex flex-column h-full">
    <!-- @TODO Add Button to toggle between Alphabetic Sorting Up Down, Last Changed Up Down, and Importance-->
    <app-hierarchical-list class="overflow-y-auto overflow-x-hidden articlesList" *ngIf="
        this.articleHierarchyMap.size > 0 &&
        this.project
      " [project]="project" [hierarchyDirection]="'down'" [currentWorkspace]="
        this.project.workspaces[this.project.activeWorkspaceIndex]
      " [isListRoot]="true" [showSearch]="true" [hierarchyNodeList]="articleHierarchyMap | mapToList"
      (articleClicked)="toggleArticleActive($event.name)"
      (articleActionClicked)="onListArticleActionClick($event)"></app-hierarchical-list>
  </div>

  <!-- Center Area -->
  <div class="center flex flex-column min-h-full w-full relative overflow-hide">
    <!-- Dropdown Bar -->
    <div class="menubar flex flex-column">
      <div class="dropdown-panel overflow-y-auto flex flex-row" [ngClass]="{ active: dropdownPanelActiveTab }">
        <div class="flex flex-row justify-content-end dropdown-panel-content">
          <div *ngIf="dropdownPanelActiveTab === 'settings'" class="settings box">
            <!-- LLM Endpoints -->
            <div class="flex flex-column">
              <h6>
                Add new chat-ai service configuration (Large Language Models
                API)
              </h6>
              <div class="flex flex-row justify-content-between align-items-center">
                <div>
                  <input #NewConfigName type="text" class="settingsTextInput sm" placeholder="Name" pInputText
                    pTooltip="Choose a name for the new API configuration (e.g. 'OpenAI GPT-4')" />
                  <input #NewConfigUrl type="text" class="settingsTextInput md" placeholder="API Endpoint URL"
                    pInputText pTooltip="Enter the web-address that points to the new API endpoint" />
                  <input #NewConfigKey type="password" class="settingsTextInput md" placeholder="Api Key" pInputText
                    pTooltip="Enter the authorization key for the API endpoint" />
                </div>
                <i class="pi pi-box iconButton pointerOnHover" pTooltip="Add as OpenAI Config" (click)="
                    llmApiService.addNewOpenAiConfig(
                      NewConfigName.value,
                      NewConfigUrl.value,
                      NewConfigKey.value
                    )
                  "></i>
              </div>
              <h6 *ngIf="llmApiService.llmConfigs.length > 0">
                Configured Chat-AI Services (Large Language Models APIs)
              </h6>
              <div class="flex flex-row justify-content-between align-items-center"
                *ngFor="let llmConfig of llmApiService.llmConfigs; index as i">
                <div>
                  <input type="text" class="settingsTextInput md" placeholder="Config Name"
                    [pTooltip]="'Config Name:\n\'' + llmConfig.name + '\''" [value]="llmConfig.name" pInputText />
                  <input type="text" class="settingsTextInput md" placeholder="URL"
                    [pTooltip]="'Api Url:\n\'' + llmConfig.url + '\''" [value]="llmConfig.url" pInputText />
                </div>
                <i class="pi pi-trash iconButton pointerOnHover" pTooltip="Remove this configuration"
                  (click)="llmApiService.removeLLMConfig(i)"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-row justify-content-between align-content-center">
        <!-- Toolbar Left Side-->
        <div class="flex flex-row align-content-center">
          <div class="flex flex-column align-content-center justify-content-between loadedFolder" *ngIf="!project">
            <div #addButton class="pi pi-plus pointerOnHover folderAction" (click)="newProjectOverlay.toggle($event)"
              tooltipPosition="bottom" [pTooltip]="'New Database'"></div>
            <div #moreButton class="pi pi-bars pointerOnHover folderAction" (click)="folderMenu.toggle($event)"
              tooltipPosition="bottom" pTooltip="More Options"></div>
            <p-contextMenu #folderMenu appendTo="body" [target]="moreButton" [model]="moreOptions"></p-contextMenu>
          </div>

          <div class="flex flex-column align-content-center justify-content-between loadedFolder" *ngIf="project">
            <div #saveButton class="pi pi-save pointerOnHover folderAction" (click)="this.saveToDB(this.project.title)"
              tooltipPosition="bottom" [pTooltip]="'Save ' + project.title"></div>
            <p-contextMenu #saveMenu appendTo="body" [target]="saveButton" [model]="saveOptions"></p-contextMenu>
            <div #moreButton class="pi pi-bars pointerOnHover folderAction" (click)="folderMenu.toggle($event)"
              tooltipPosition="bottom" pTooltip="More Options"></div>
            <p-contextMenu #folderMenu appendTo="body" [target]="moreButton" [model]="moreOptions"></p-contextMenu>
          </div>

          <!-- Workspaces -->
          <div *ngIf="project" class="flex flex-row toolbarWorkspaces relative">
            <div *ngFor="
                let workspace of project.workspaces;
                let index = index;
                let isLast = last
              " [ngClass]="{
                active: this.project.activeWorkspaceIndex === index,
                isLast: isLast
              }" [autoHide]="false" tooltipPosition="bottom" [pTooltip]="tooltipContent"
              class="hideChildUntilHoverParent toolbarWorkspace pointerOnHover relative"
              (click)="this.project.activeWorkspaceIndex = index">
              <div class="flex flex-column workspace-articles">
                <div *ngFor="
                    let &quot;workspace-article&quot; of workspace.viewedArticles;
                    index as i
                  " class="workspace-article"></div>
              </div>
              <ng-template #tooltipContent>
                <div class="flex flex-column toolbarWorkspaceTooltip">
                  <div *ngFor="
                      let workspaceArticle of workspace.viewedArticles;
                      let isLast = last
                    ">
                    <div class="toolbarWorkspaceTooltipArticle">
                      {{ workspaceArticle }}
                    </div>
                    <div class="pseudo" *ngIf="!isLast"></div>
                  </div>

                  <div *ngIf="workspace.viewedArticles.length === 0">
                    Empty Workspace
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
        </div>

        <div class="flex flex-row align-content-center">
          <div class="flex flex-row align-items-center justify-content-start z-3 newtabs"
            [ngClass]="{ active: dropdownPanelActiveTab }">
            <div class="flex flex-row">
              <div class="pi pi-comment pointerOnHover tab" [ngClass]="{ active: dropdownPanelActiveTab === 'llm' }"
                tooltipPosition="bottom" [pTooltip]="
                  dropdownPanelActiveTab === 'llm'
                    ? 'Hide LLM Prompter'
                    : 'LLM Prompter'
                " (click)="onToggleConsole('llm', chatInput)"></div>
              <input #chatInput type="text" class="tabInput" [ngClass]="{ active: dropdownPanelActiveTab === 'llm' }"
                placeholder="Press enter/return to send prompt" pInputText
                (keyup)="assistantKeyUp($event, chatInput.value)" />
            </div>
            <div class="flex flex-row">
              <div class="pi pi-sliders-v pointerOnHover tab"
                [ngClass]="{ active: dropdownPanelActiveTab === 'settings' }" tooltipPosition="bottom"
                [pTooltip]="'Settings'" (click)="onToggleConsole('settings', chatInput)"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Assistant Panel & Selector -->
    <!--<div
      class="absolute left-0 bottom-0 flex flex-column align-items-start justify-content-start assistant-panel"
      *ngIf="project"
    >
      <div
        class="flex flex-row align-items-end justify-content-start z-3 tabs"
        [ngClass]="{ active: activeAssistant }"
      >
        <div class="flex flex-row">
          <div
            class="pi pi-comments pointerOnHover tab"
            [ngClass]="{ active: activeAssistant === 1 }"
            [pTooltip]="
              activeAssistant === 5
                ? 'Hide assistant panel'
                : 'Chat with Assistant'
            "
            (click)="onToggleAssistant(1, chatInput)"
          ></div>
          <input
            #chatInput
            type="text"
            class="assistantInput"
            [ngClass]="{ active: activeAssistant === 1 }"
            placeholder="Press enter/return to send prompt"
            pInputText
            (keyup)="assistantKeyUp($event, chatInput.value)"
          />
        </div>
        <div class="flex flex-row">
          <div
            class="pi pi-plus-circle pointerOnHover tab"
            [pTooltip]="'Create new assistant or autonomous agent'"
          ></div>
        </div>
      </div>
      <div
        class="panel-content overflow-y-auto flex flex-row"
        [ngClass]="{ active: activeAssistant }"
      >
        <div class="flex flex-column assistant-chat">
          <div class="message prompt">blub</div>
          <div class="message response">bleb</div>
        </div>
      </div>
    </div>-->

    <!-- Article Page (Content) List -->
    <div class="content" style="
        width: 100%;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        scroll-behavior: smooth;
      " styleClass="custombar" [ngClass]="{
        empty:
          project &&
          project.workspaces[project.activeWorkspaceIndex].viewedArticles
            .length === 0
      }" #contentPanel id="contentPanel">
      <!-- Active Articles -->
      <div *ngFor="
          let activeArticleName of project &&
          project.workspaces &&
          project.workspaces.length > 0
            ? project.workspaces[project.activeWorkspaceIndex].viewedArticles
            : [];
          let index = index;
          let isLast = last
        " (mouseenter)="setActiveArticle(index)">
        <app-note-panel [isActivePanel]="
            project!.workspaces[project!.activeWorkspaceIndex]
              .activeArticleIndex === index
          " [articles]="project!.articles" [articleName]="activeArticleName"
          (closePanelEvent)="toggleArticleActive(activeArticleName)" (moveUpEvent)="moveUp(index)"
          (moveDownEvent)="moveDown(index)"
          (internalLinkActivatedEvent)="this.toggleArticleActive($event)"></app-note-panel>
        <div class="pseudo" *ngIf="!isLast"></div>
      </div>
    </div>
  </div>

  <!-- Right Sidebar -->
  <div class="right sidebar min-h-full w-2 p-shadow-3 p-1 flex flex-column h-full overflow-y-auto">
    <div class="flex flex-row justify-content-between align-content-center articleTitle" *ngIf="activeArticle">
      <div>{{ activeArticle }}</div>
      <div>Actions</div>
    </div>
    <div *ngIf="activeArticle" class="articleDescription">
      <span class="primary"
        pTooltip="The very first paragraph of the article. This is frequently 'read' by LIQUID, like for determining if this article is relevant for a given LLM prompt.">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Maecenas accumsan
        lacus vel facilisis volutpat est. Quis vel eros donec ac odio tempor.
      </span>
      <br />
      <span class="secondary">
        Nulla aliquet enim tortor at. Porta nibh venenatis cras sed felis. Non
        nisi est sit amet facilisis magna etiam tempor orci. Sed egestas egestas
        fringilla phasellus faucibus scelerisque.
      </span>
    </div>
    <div class="labeled-separator flex flex-row" *ngIf="
    project && activeArticle && (articleHierarchyMap | articleHierarchyMapGet:activeArticle)[0].parents.length > 0
  " pTooltip="List of all categories this article belongs to directly or by extension">
      <div class="line left"></div>
      <div class="label">Categories</div>
      <div class="line right"></div>
    </div>
    <app-hierarchical-list class="overflow-y-auto overflow-x-hidden articlesList" *ngIf="
    project && activeArticle && (articleHierarchyMap | articleHierarchyMapGet:activeArticle)[0].parents.length > 0
  " [project]="project" [hierarchyDirection]="'up'" [currentWorkspace]="
    this.project.workspaces[this.project.activeWorkspaceIndex]
  " [isListRoot]="true" [hierarchyNodeList]="(articleHierarchyMap | articleHierarchyMapGet:activeArticle)[0].parents"
      (articleClicked)="toggleArticleActive($event.name)"
      (articleActionClicked)="onListArticleActionClick($event)"></app-hierarchical-list>
    <div class="labeled-separator flex flex-row" pTooltip="Table listing important attributes/characteristics of the article">
      <div class="line left"></div>
      <div class="label">Attributes</div>
      <div class="line right"></div>
    </div>
    <div *ngIf="activeArticle" class="idea-placeholder"
      pTooltip="The table of attributes that contain basic information on this article">
      Article Attributes
    </div>
    <div class="labeled-separator flex flex-row" pTooltip="Hierarchy of article sections/headlines">
      <div class="line left"></div>
      <div class="label">Sections</div>
      <div class="line right"></div>
    </div>
    <div *ngIf="activeArticle" class="idea-placeholder" pTooltip="Article section hierarchy (by headlines)">
      Article Headlines/Sections
    </div>
    <div class="labeled-separator flex flex-row" pTooltip="All links to other articles occuring in this article">
      <div class="line left"></div>
      <div class="label">Links</div>
      <div class="line right"></div>
    </div>
    <div *ngIf="activeArticle" class="idea-placeholder" pTooltip="Other articles that are linked in this article">
      Links
    </div>
    <div class="labeled-separator flex flex-row" pTooltip="All other articles that link to this article">
      <div class="line left"></div>
      <div class="label">Backlinks</div>
      <div class="line right"></div>
    </div>
    <div *ngIf="activeArticle" class="idea-placeholder" pTooltip="All other articles that reference this article">
      Backlinks
    </div>
  </div>

  <!-- Notification Outlet -->
  <p-toast position="bottom-center"></p-toast>

  <!-- Load Modal Dialog -->
  <p-dialog header="Load from indexedDB" appendTo="body" #loadDialog [(visible)]="loadDialogVisible">
    <p-table *ngIf="((allProjectsPromise | async)?.length ?? -1) > 0" [value]="
        (allProjectsPromise | async) ??
        [{ title: 'loading', lastModified: undefined }]
      " responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th>Title</th>
          <th>Last Saved</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-project>
        <tr>
          <td>{{ project.title }}</td>
          <td>{{ project.lastModified }}</td>
          <td>
            <p-button label="Load" icon="pi pi-folder-open" styleClass="p-button-sm"
              (click)="loadFromDB(project.title)"></p-button>
          </td>
          <td>
            <p-button label="Delete" icon="pi pi-folder-open" styleClass="p-button-sm p-button-danger"
              (click)="deleteFromDB(project.title)"></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <div *ngIf="((allProjectsPromise | async)?.length ?? 0) === 0">
      No projects saved in indexedDB of Browser
    </div>
  </p-dialog>
  <p-confirmDialog #overlayOverlay [baseZIndex]="3000" width="425" appendTo="body"></p-confirmDialog>

  <!-- Settings Modal Dialog -->
  <p-dialog header="Settings & Preferences" appendTo="body" #settingsDialog [(visible)]="settingsDialogVisible">
    <app-settings-menu></app-settings-menu>
  </p-dialog>

  <!-- Project Uploader Input -->
  <input style="visibility: collapse; width: 0; height: 0" type="file" class="file-input"
    (change)="onFileSelected(projectUpload)" #projectUpload />

  <!-- New Project Overlay -->
  <p-overlayPanel #newProjectOverlay>
    <div class="flex flex-wrap flex-column">
      <p>Enter a title for the new database</p>
      <div class="flex flex-row">
        <input autofocus type="text" placeholder="New Database" pInputText
          style="margin-bottom: 5px; width: max-content" #newProjectTitleInput
          (keydown.enter)="newProject(newProjectTitleInput.value)" [required]="true" />
        <div class="pseudo"></div>
        <p-button #newProjectButton icon="pi pi-plus" [pTooltip]="'Create ' + newProjectTitleInput.value"
          (click)="newProject(newProjectTitleInput.value)"></p-button>
      </div>
    </div>
  </p-overlayPanel>

  <!-- Save Project Overlay -->
  <p-dialog header="Save Project in IndexedDB of Browser" [(visible)]="showSaveProjectOverlay" #saveProjectOverlay>
    <ng-template pTemplate>
      <div class="flex flex-wrap flex-column" *ngIf="project">
        <input autofocus (keydown.enter)="saveProjectButton.click()" type="text" placeholder="Project title (required)"
          pInputText style="margin-bottom: 5px" #projectTitleInput [(ngModel)]="project.title" />
        <button #saveProjectButton [disabled]="!project.title" pButton pRipple type="button" icon="pi pi-save"
          label="Save to indexedDB" (click)="saveToDB(project.title); showSaveProjectOverlay = false"
          class="p-button-outlined"></button>
      </div>
    </ng-template>
  </p-dialog>

  <!-- Privacy Policy Modal Dialog-->
  <p-dialog header="Privacy Policy" #privacyPolicyDialog [(visible)]="showPrivacyPolicyDialog">
    <app-privacy-policy></app-privacy-policy>
  </p-dialog>
</div>