// Sidebar

.sidebar {
  z-index: 3;
  transition: transform 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99),
    visibility 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);

  &.right {
    background-color: var(--surface-b);
    border-left: 2px solid var(--surface-d);
    right: 0;
  }

  &.left {
    background-color: var(--surface-b);
    border-right: 2px solid var(--surface-d);
    left: 0;
  }

  .searchinput {
    margin-bottom: 4px;
  }
}

//Article List
.articleList {


  .articleListEntry {
    background-color: var(--surface-b);
    border-bottom-color: var(--surface-border) !important;
    border-width: 2px;
    border-bottom-style: solid;
    border-radius: 6px;
    min-height: 39px;
    padding: 2px;

    // Name of Article and Interactions
    .entryNameAndInteractions {
      padding: 8px 4px 4px 4px;
    }

    &.active{
      background-color: var(--surface-a);
      // List of Subarticles
      .articleList {
        margin-top: 4px;
      }:last-child {
        border-bottom-style: unset;
      }
      &.left{
        border-left-color: var(--surface-border) !important;
        border-left: 4px;
        border-left-style: solid !important;
      }

      &.right{
        border-right-color: var(--surface-border) !important;
        border-right: 4px;
        border-right-style: solid !important;
      }
    }
  }

  .articleListCategoryEntry {

  }

  .entryUniqueName {
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: var(--font-family);
    height: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    user-select: none;
  }

  .inlineButton {
    font-size: small;
    height: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 2px;
    margin-right: 2px;
    &.absoluteRight {
      background-color: var(--surface-b);
    }
    
  }
  .absoluteRight {
    position: absolute;
    right: 0;
  }

  // entry has been activated through click or similar action
  .active {
    background-color: var(--surface-a);
    .absoluteRight {
      background-color: var(--surface-a);
    }
  }
}



.center {
  background-color: var(--surface-a);

  .content {
    width: 100%;
    height: 100%;
    padding: 4px;

    .card {
      background-color: var(--surface-b);
      width: 100%;
      margin-bottom: 4px;
    }
  }

  .center-menubar {
    position: sticky;
    background-color: var(--surface-b);
    width: 100%;
    border-bottom: 2px solid var(--surface-border);

    * {
      height: 41px;
      border-radius: 0;
      border: 0px !important;
    }
  }

  .menubar {
    position: sticky;
    padding: 0;

    .workspaces {
      padding-right: 13px;

      .workspace {
        padding: 6.5px;
        padding-left: 3px;
        padding-right: 3px;
        font-size: 20px;
      }

      .number-cell {
        padding: 6.5px;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        text-align: center;
        vertical-align: middle;
        font-family: monospace;
        font-size: 14px;
        user-select: none;
      }
    }
  }

  .assistant-panel {
    margin-bottom: 4px;
    pointer-events: none;
    width: 100%;

    .tabs {
      opacity: 0.5;
      transition: background-color 0.1s;
      color: var(--text-color-secondary);
      border-radius: 20px;
      margin: 4px;
      margin-bottom: 0px;
      pointer-events: all;

      &:hover {
        transition: background-color 0.1s;
        opacity: 1;
        background-color: var(--surface-b);
      }

      &.active {
        opacity: 1;
        background-color: var(--surface-border);
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }

      .tab {
        border: 2px solid transparent;
        border-bottom: 0px;
        padding: 9px;
        font-size: 25px;
        border-radius: 20px;

        &:hover {
          color: var(--text-color);
        }

        &.active {
          border: 2px solid var(--surface-border);
          border-bottom: 0px;
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px;
          color: var(--text-color);
          background-color: var(--surface-b);
        }
      }
    }

    .panel-content {
      background-color: var(--surface-b);
      opacity: 0;
      pointer-events: all;
      height: 0vh;
      width: 50%;
      border: 0px solid var(--surface-border);
      transition: height 0.3s, opacity 0.3s, border 0.3s;


      &.active {
        padding: 6px;
        opacity: 1;
        border: 2px solid var(--surface-border);
        border-left: 0px;
        transition: height 0.3s, opacity 0.3s;
        height: 50vh;
      }
    }
  }

  .footer {
    opacity: 0.5;
    transition: background-color 0.1s;
    color: var(--text-color-secondary);
    border-radius: 20px;
    margin: 4px;

    padding: 4.5px;

    &:hover {
      opacity: 1;
      background-color: var(--surface-b);
    }

    .element {
      padding: 6.5px;
      font-size: 25px;

      &:hover {
        color: var(--text-color);
      }
    }
  }
}

.pseudo {
  padding: 1.5px;
}

.hideChildUntilHoverParent {
  >.hideChildUntilHoverChild {
    visibility: hidden;
  }

  &:hover {
    >.hideChildUntilHoverChild {
      visibility: visible;
    }
  }
}

.bordered-element {
  border: solid 1px var(--surface-border);
  border-radius: var(--border-radius);
  background-color: var(--surface-card);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  color: var(--text-color);
}

.sidebar-element {
  &:hover {
    background-color: var(--surface-b);
  }

  &.bordered {
    border: solid 1px var(--surface-border);
    border-radius: var(--border-radius);
  }

  .label {
    margin-left: 6px;
  }

  .button {
    transition: border-color 0.2s cubic-bezier(0.05, 0.74, 0.2, 0.99);
    border: 1px solid rgba($color: #000000, $alpha: 0);
    border-radius: var(--border-radius);
    width: 28px;
    height: 28px;

    &:hover {
      border-color: var(--primary-color);
    }
  }

  &.setFont {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 1rem;
    color: var(--text-color);
  }
}

.unbordered-button {
  background-color: var(--surface-card);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  color: var(--text-color);

  &:hover {
    background-color: var(--surface-hover);
  }
}

.sidebar-search-button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  color: var(--text-color);
  border-color: #ced4da;

  &:hover {
    cursor: pointer;
  }
}

.hover-border-primary {
  transition: border-color 0.2s cubic-bezier(0.05, 0.74, 0.2, 0.99);

  &:hover {
    border-color: var(--primary-color);
  }
}

.hover-color-primary {
  transition: border-color 0.2s cubic-bezier(0.05, 0.74, 0.2, 0.99);

  &:hover {
    color: var(--primary-color);
  }
}

.pointerOnHover {
  &:hover {
    cursor: pointer;
  }
}

.icon-button {
  font-size: 1.2rem;
  color: var(--text-color);
  width: min-content;
}

@media screen and (max-width: 960px) {
  .sidebar {
    &.left {
      transform: translateX(-100%);
      visibility: collapse;
    }

    &.right {
      transform: translateX(100%);
      visibility: collapse;
    }

    &.active {
      transform: translateX(0%);
      z-index: 999;
      visibility: unset;

      .layout-menu {
        padding-bottom: 120px;
      }
    }
  }
}