.sidebar {
  z-index: 3;
  transition: transform 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99),
    visibility 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);
  &.right {
    background-color: var(--surface-ground);
    border-left: 1px solid var(--surface-border);
    right: 0;
  }
  &.left {
    background-color: var(--surface-ground);
    border-right: 1px solid var(--surface-border);
    left: 0;
  }
}
.center {
  .content {
    background-color: var(--surface-ground);
    width: 100%;
    height: 100%;
    padding: 5px 10px 5px 10px;
    .card {
      width: 100%;
      margin-bottom: 5px;
    }
  }

  .footer {
    transition: opacity 0.1s cubic-bezier(0.05, 0.74, 0.2, 0.99),
      background-color 0.1s cubic-bezier(0.05, 0.74, 0.2, 0.99);
    opacity: 0.3;
    color: var(--text-color-secondary);
    border: 1px solid var(--surface-border);
    border-radius: var(--border-radius);
    margin: 4px;
    padding: 6px;
    .element {
      font-size: 25px;
      &.selected {
        color: var(--primary-color);
      }
      &:hover {
        color: var(--text-color);
      }
    }
    &:hover {
      opacity: 1;
      background-color: var(--surface-card);
    }
    &.left-43px {
      left: 43px;
    }
  }
}

.pseudo {
  padding: 3px;
}

.hideChildUntilHoverParent {
  >.hideChildUntilHoverChild{
    visibility: hidden;
  }
  &:hover {
    >.hideChildUntilHoverChild {
      visibility: visible;
    }
  }
}

.bordered-element {
  border: solid 1px var(--surface-border);
  border-radius: var(--border-radius);
  background-color: var(--surface-card);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  color: var(--text-color);
}

.unbordered-element {
  background-color: var(--surface-card);
  padding: 8px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  color: var(--text-color);
  &:hover {
    background-color: var(--surface-hover);
  }
}

.unbordered-button {
  padding: 8px;
  background-color: var(--surface-card);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  color: var(--text-color);
  &:hover {
    background-color: var(--surface-hover);
  }
}

.button-border {
  border: solid 1px var(--surface-border);
  border-radius: var(--border-radius);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  color: var(--text-color);
  border-color: #ced4da;
  &:hover {
    cursor: pointer;
  }
}

.button-unbordered {
  border: solid 1px rgba(0, 0, 0, 0);
  border-radius: var(--border-radius);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  color: var(--text-color);
  &:hover {
    cursor: pointer;
  }
}

.border-clickable {
  transition: border-color 0.2s cubic-bezier(0.05, 0.74, 0.2, 0.99);
  &:hover {
    border-color: var(--primary-color);
  }
}

.pointerOnHover{
  &:hover {
    cursor: pointer;
  }
}

.icon-button {
  font-size: 1.2rem;
  color: var(--text-color);
  width: min-content;
}

.color-surface-card {
  background-color: var(--surface-card);
}

@media screen and (max-width: 960px) {
  .sidebar {
    &.left {
      transform: translateX(-100%);
      visibility: collapse;
    }
    &.right {
      transform: translateX(100%);
      visibility: collapse;
    }

    &.active {
      transform: translateX(0%);
      z-index: 999;
      visibility: unset;

      .layout-menu {
        padding-bottom: 120px;
      }
    }
  }
}
