<div class="flex flex-row h-full">
  <!-- Left Sidebar -->
  <div class="left sidebar min-h-full w-2 p-shadow-3 overflow-hidden z-3 p-1 flex flex-column h-full">
    <!-- @TODO Add Button to toggle between Alphabetic Sorting Up Down, Last Changed Up Down, and Importance-->
    <app-hierarchical-list class="overflow-y-auto overflow-x-hidden articlesList" *ngIf="
        this.project
      " [project]="project" [hierarchyDirection]="'down'" [currentWorkspace]="
        this.project.workspaces[this.project.activeWorkspaceIndex]
      " [isListRoot]="true" [showSearch]="true" [hierarchyNodeList]="articleHierarchyMap | mapToList"
      (articleClickedEmitter)="toggleArticleActive($event.name)"
      (articleActionClicked)="onListArticleActionClick($event)"
      (addArticleEvent)="addArticle($event)"></app-hierarchical-list>
  </div>

  <!-- Center Area -->
  <div class="center flex flex-column min-h-full w-full relative overflow-hide">
    <!-- Dropdown Bar -->
    <div class="central-header flex flex-column">
      <div class="dropdown-panel overflow-y-auto flex flex-row" [ngClass]="{ active: dropdownPanelActiveTab }">
        <div class="flex flex-row" *ngIf="dropdownPanelActiveTab === 'menu'">
          <app-llm-settings class="box"></app-llm-settings>
          <app-idb-settings [activeProject]="project?.title ?? ''" [allProjects]="allProjectsPromise | async"
            (projectEventEmitter)="handleProjectEvent($event)" class="box"></app-idb-settings>
        </div>

        <div *ngIf="dropdownPanelActiveTab === 'console'" class="flex flex-row w-full align-content-end">
          <textarea pInputTextarea class="system-prompt-input" placeholder="System Prompt"
            [(ngModel)]="conversation.system"></textarea>
          <div class="dialog-prompt-container flex flex-column justify-content-start">
            <div class="dialog-prompt-message flex flex-row hideChildUntilHoverParent"
              *ngFor="let msg of conversation.messages; index as idx" [ngClass]="{
              inactive: !msg.active,
              start: idx === 0 || msg.role === 'user',
              end: idx === conversation.messages.length-1 || (conversation.messages[idx+1] !== undefined && conversation.messages[idx+1].role === 'user'),
            }">
              <textarea #msgarea pInputTextarea rows="1" class="dialog-prompt-textarea" [(ngModel)]="msg.content"
                [autoResize]="true"></textarea>
              <div class="dialog-prompt-actions hideChildUntilHoverChild">
                <i class="pi dialog-prompt-action"
                  [pTooltip]="msg.active ? 'This message will be included in prompts' : 'This message will not be included in prompts'"
                  tooltipPosition="left" (click)="msg.active = !msg.active" [ngClass]="{
                    'pi-stop': !msg.active,
                    'pi-check-square': msg.active,
                  }"></i>
                <i class="pi dialog-prompt-action" [pTooltip]="'Message by: ' + msg.role" tooltipPosition="left"
                  (click)="msg.role === 'assistant' ? msg.role = 'user' : msg.role = 'assistant'" [ngClass]="{
                    'pi-user': msg.role === 'user',
                    'pi-globe': msg.role === 'assistant',
                  }"></i>
                <i class="pi pi-save dialog-prompt-action" pTooltip="Save this message into a new article"
                  tooltipPosition="left"></i>
                <i class="pi pi-trash dialog-prompt-action" pTooltip="Remove this message from the conversation"
                  (click)="conversation.messages.splice(idx, 1); this.saveConversation()" tooltipPosition="left"></i>
              </div>
            </div>
          </div>
          <div class="dialog-prompt-control-panel">
            <div>
              <div class="number"
                (wheel)="conversation.temperature = scrollIncrementDecrement($event, conversation.temperature, 0.25, 1)"
                [pTooltip]="'Temperature: '+conversation.temperature+'\nScroll to change value.'"
                tooltipPosition="left">
                <span>{{conversation.temperature}}</span>
              </div>
              <div class="number"
                (wheel)="conversation.max_tokens = scrollIncrementDecrement($event, conversation.max_tokens, 256, 2048)"
                [pTooltip]="'Max Tokens: '+conversation.max_tokens+'\nScroll to change value.'" tooltipPosition="left">
                <span>{{conversation.max_tokens}}</span>
              </div>
            </div>
            <div>
              <div class="flex flex-column align-items-center justify-content-center action"
                (click)="conversation.messages = []; this.saveConversation()" pTooltip="Delete the entire conversation"
                tooltipPosition="left">
                <div class="pi pi-trash"></div>
              </div>
              <div class="flex flex-column align-items-center justify-content-center action"
                pTooltip="Save the entire conversation into a new article">
                <div class="pi pi-save" tooltipPosition="left"></div>
              </div>
              <div class="flex flex-column align-items-center justify-content-center action"
                pTooltip="Toggle Autoprompting" tooltipPosition="left">
                <div class="pi pi-forward"></div>
              </div>
              <div class="flex flex-column align-items-center justify-content-center action" pTooltip="Prompt LLM"
                tooltipPosition="left" (click)="promptConversation()">
                <div class="pi pi-step-forward-alt"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Menubar -->
      <div class="flex flex-row align-content-center">

        <!-- Workspaces -->
        <div *ngIf="project" class="flex flex-row toolbarWorkspaces relative">
          <div *ngFor="
              let workspace of project.workspaces;
              let index = index;
              let isLast = last
            " [ngClass]="{
              active: this.project.activeWorkspaceIndex === index,
              isLast: isLast
            }" [autoHide]="false" tooltipPosition="bottom" [pTooltip]="tooltipContent"
            class="hideChildUntilHoverParent toolbarWorkspace pointerOnHover relative"
            (click)="this.project.activeWorkspaceIndex = index">
            <div class="flex flex-column workspace-articles">
              <div *ngFor="
                  let &quot;workspace-article&quot; of workspace.viewedArticles;
                  index as i
                " class="workspace-article"></div>
            </div>
            <ng-template #tooltipContent>
              <div class="flex flex-column toolbarWorkspaceTooltip">
                <div *ngFor="
                    let workspaceArticle of workspace.viewedArticles;
                    let isLast = last
                  ">
                  <div class="toolbarWorkspaceTooltipArticle">
                    {{ workspaceArticle }}
                  </div>
                  <div class="pseudo" *ngIf="!isLast"></div>
                </div>

                <div *ngIf="workspace.viewedArticles.length === 0">
                  Empty Workspace
                </div>
              </div>
            </ng-template>
          </div>
        </div>

        <!-- Chat Input & Dropdown-Tabs -->
        <div class="tabs flex-grow-1">
          <div class="tabs-group command-line" [ngClass]="{ active: consoleInputFocused}">
            <input #consoleinput type="text" class="input flex-grow-1" pInputText (focus)="consoleInputFocused = true"
              (blur)="consoleInputFocused = false" (keyup)="commandLineKeyUp($event, consoleinput)" />
            <div class="tab flex flex-column align-items-center justify-content-center"
              [ngClass]="{ active: dropdownPanelActiveTab === 'console' }" tooltipPosition="bottom" [pTooltip]="seeees"
              (click)="onToggleConsole('console')" [autoHide]="false"
              (wheel)="selectedLLMIndex = scrollIncrementDecrement($event, selectedLLMIndex, 1, llmApiService.llmConfigs.length-1)">
              <div class="pi pi-comments"></div>
              <ng-template #seeees>
                <div class="graphic-tooltip">
                  <div>AI Interface</div>
                  <div class="flex flex-row" style="margin-bottom: 2px;">
                    <div class="leftButton mouseButton">
                      <div class="pi pi-angle-double-down" *ngIf="!dropdownPanelActiveTab"></div>
                      <div class="pi pi-angle-double-up" *ngIf="dropdownPanelActiveTab === 'console'"></div>
                      <div class="pi pi-comments"
                        *ngIf="dropdownPanelActiveTab && dropdownPanelActiveTab !== 'console'"></div>
                    </div>
                    <div class="scrollwheel">
                      <div class="pi pi-arrow-circle-up"></div>
                      <div class="pi pi-arrow-circle-down"></div>
                    </div>
                    <div class="rightButton mouseButton">
                    </div>
                  </div>
                  <div class="scrollwheel-selector" [ngClass]="{'active': selectedLLMIndex === i}"
                    *ngFor="let option of llmApiService.llmConfigs; let i = index">
                    {{option.name}}
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
          <div class="separator"></div>
          <div class="flex flex-row tabs-group">
            <div class="tab flex flex-column align-items-center justify-content-center"
              [ngClass]="{ active: dropdownPanelActiveTab === 'alerts' }" tooltipPosition="bottom" [pTooltip]="'Alerts'"
              (click)="onToggleConsole('alerts')">
              <div class="pi pi-exclamation-circle "></div>
            </div>
            <div class="tab flex flex-column align-items-center justify-content-center"
              [ngClass]="{ active: dropdownPanelActiveTab === 'menu' }" [pTooltip]="'Menu'"
              (click)="onToggleConsole('menu')">
              <div class="pi pi-bars "></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Article Page (Content) List -->
    <div class="content" style="
        width: 100%;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        scroll-behavior: smooth;
      " [ngClass]="{
        empty:
          project &&
          project.workspaces[project.activeWorkspaceIndex].viewedArticles
            .length === 0
      }" #contentPanel id="contentPanel">
      <!-- Active Articles -->
      <div *ngFor="
          let activeArticleName of project &&
          project.workspaces &&
          project.workspaces.length > 0
            ? project.workspaces[project.activeWorkspaceIndex].viewedArticles
            : [];
          let index = index;
          let isLast = last
        " (mouseenter)="setActiveArticle(index)">
        <app-note-panel [isActivePanel]="
            project!.workspaces[project!.activeWorkspaceIndex]
              .activeArticleIndex === index
          " [articles]="project!.articles" [articleName]="activeArticleName"
          (closePanelEvent)="toggleArticleActive(activeArticleName)" (moveUpEvent)="moveUp(index)"
          (moveDownEvent)="moveDown(index)" (internalLinkActivatedEvent)="this.toggleArticleActive($event)"
          (renameEvent)="renameArticle(activeArticleName, $event)"></app-note-panel>
        <div class="pseudo" *ngIf="!isLast"></div>
      </div>
    </div>
  </div>

  <!-- Right Sidebar -->
  <div class="right sidebar min-h-full w-2 p-shadow-3 p-1 flex flex-column h-full overflow-y-auto collapsed">
    <div class="flex flex-row justify-content-between align-content-center articleTitle" *ngIf="activeArticle">
      <div>{{ activeArticle }}</div>
      <div>Actions</div>
    </div>
    <div *ngIf="activeArticle" class="articleDescription">
      <span class="primary"
        pTooltip="The very first paragraph of the article. This is frequently 'read' by LIQUID, like for determining if this article is relevant for a given LLM prompt.">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Maecenas accumsan
        lacus vel facilisis volutpat est. Quis vel eros donec ac odio tempor.
      </span>
      <br />
      <span class="secondary">
        Nulla aliquet enim tortor at. Porta nibh venenatis cras sed felis. Non
        nisi est sit amet facilisis magna etiam tempor orci. Sed egestas egestas
        fringilla phasellus faucibus scelerisque.
      </span>
    </div>
    <div class="labeled-separator flex flex-row" *ngIf="
    project && activeArticle && (articleHierarchyMap | articleHierarchyMapGet:activeArticle)[0].parents.length > 0
  " pTooltip="List of all categories this article belongs to directly or by extension">
      <div class="line left"></div>
      <div class="label">Categories</div>
      <div class="line right"></div>
    </div>
    <app-hierarchical-list class="overflow-y-auto overflow-x-hidden articlesList" *ngIf="
    project && activeArticle && (articleHierarchyMap | articleHierarchyMapGet:activeArticle)[0].parents.length > 0
  " [project]="project" [hierarchyDirection]="'up'" [currentWorkspace]="
    this.project.workspaces[this.project.activeWorkspaceIndex]
  " [isListRoot]="true" [hierarchyNodeList]="(articleHierarchyMap | articleHierarchyMapGet:activeArticle)[0].parents"
      (articleClickedEmitter)="toggleArticleActive($event.name)"
      (articleActionClicked)="onListArticleActionClick($event)"></app-hierarchical-list>
    <div class="labeled-separator flex flex-row"
      pTooltip="Table listing important attributes/characteristics of the article">
      <div class="line left"></div>
      <div class="label">Attributes</div>
      <div class="line right"></div>
    </div>
    <div *ngIf="activeArticle" class="idea-placeholder"
      pTooltip="The table of attributes that contain basic information on this article">
      Article Attributes
    </div>
    <div class="labeled-separator flex flex-row" pTooltip="Hierarchy of article sections/headlines">
      <div class="line left"></div>
      <div class="label">Sections</div>
      <div class="line right"></div>
    </div>
    <div *ngIf="activeArticle" class="idea-placeholder" pTooltip="Article section hierarchy (by headlines)">
      Article Headlines/Sections
    </div>
    <div class="labeled-separator flex flex-row" pTooltip="All links to other articles occuring in this article">
      <div class="line left"></div>
      <div class="label">Links</div>
      <div class="line right"></div>
    </div>
    <div *ngIf="activeArticle" class="idea-placeholder" pTooltip="Other articles that are linked in this article">
      Links
    </div>
    <div class="labeled-separator flex flex-row" pTooltip="All other articles that link to this article">
      <div class="line left"></div>
      <div class="label">Backlinks</div>
      <div class="line right"></div>
    </div>
    <div *ngIf="activeArticle" class="idea-placeholder" pTooltip="All other articles that reference this article">
      Backlinks
    </div>
  </div>

  <!-- Notification Outlet -->
  <p-toast position="bottom-center"></p-toast>

  <!-- Load Modal Dialog -->
  <p-dialog header="Load from indexedDB" appendTo="body" #loadDialog [(visible)]="loadDialogVisible">

  </p-dialog>
  <p-confirmDialog #overlayOverlay [baseZIndex]="3000" width="425" appendTo="body"></p-confirmDialog>

  <!-- Project Uploader Input -->
  <input style="visibility: collapse; width: 0; height: 0" type="file" class="file-input"
    (change)="onFileSelected(projectUpload)" #projectUpload />

  <!-- Privacy Policy Modal Dialog-->
  <p-dialog header="Privacy Policy" #privacyPolicyDialog [(visible)]="showPrivacyPolicyDialog">
    <app-privacy-policy></app-privacy-policy>
  </p-dialog>
</div>