.box {
  padding: 8px;
  border: 1px solid var(--surface-border);
  width: max-content;
  border-radius: 6px;
  overflow-y: scroll;
  margin-right: 3px;
  background-color: var(--surface-a);
}

.system-prompt-input {
  min-height: 100%;
  width: 30vw;
  resize: none;
  border-radius: 6px;
}

.dialog-prompt-control-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--surface-border);
  border-radius: 6px;
  margin-left: 3px;
  min-width: 35px;
  overflow: scroll;

  .action {
    height: 27px;
    width: 27px;
    margin: 3px;
    color: var(--text-color-secondary);

    &:hover {
      cursor: pointer;
      color: var(--text-color-primary);
    }
  }

  .number {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    line-height: 30px;
    height: 27px;
    width: 27px;
    margin: 3px;
    font-size: 14px;
    text-overflow: clip;
    color: var(--text-color-secondary);
    letter-spacing: -2px;

    &:hover {
      cursor: pointer;
      color: var(--text-color-primary);
    }
  }

  .conversations {
    display: flex;
    flex-direction: column;
    width: 33px;

    .conversation {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 25px;
      border-bottom: 1px solid var(--surface-border);
      font-size: xx-small;
      line-height: 1;
      color: var(--text-color-secondary);
      padding: 2px;
      text-overflow: ellipsis;

      &:hover {
        cursor: pointer;
      }

      &.active {
        background-color: var(--surface-a);
      }
    }
  }
}

.dialog-prompt-container {
  margin-left: 3px;
  width: 100%;
  overflow-y: auto;
}

.dialog-prompt-message {
  position: relative;
  color: var(--text-color-primary);

  .do-not-display {
    height: 0px !important;
    width: 0px !important;
    background-color: red;
    visibility: collapse;
  }

  .dialog-prompt-textarea-pseudo {
    padding: 10px;
    border: 1px solid var(--surface-border);
    width: 100%;
    min-height: 39px;
    white-space: pre-wrap;
    cursor: pointer;
  }

  &.inactive {
    .dialog-prompt-textarea {
      color: var(--gray-800);
      border-color: var(--gray-800);

      &:hover {
        color: var(--text-color-secondary);
      }

      &:focus {
        color: var(--text-color-secondary);
      }
    }
  }

  .dialog-prompt-actions {
    position: absolute;
    right: 15px;
    top: 1px;
    border-radius: 6px;

    &:hover {
      background-color: var(--surface-b);
    }

    .dialog-prompt-action {
      transition: color 0.1s;
      color: var(--text-color-secondary);
      margin: 3px;

      &:hover {
        color: var(--text-color-primary);
      }
    }
  }

  .dialog-prompt-textarea {
    resize: none !important;
    padding: 10px;
    box-shadow: transparent, transparent;
    border-radius: 0px;
    width: 100%;

    &:hover {
      background-color: var(--surface-a);
    }

    &:focus {
      background-color: var(--surface-a);
      resize: vertical;
    }
  }

  &:not(.start, .end) {
    .dialog-prompt-textarea {
      border-bottom: 0;
      border-top: 0;
    }

    dialog-prompt-textarea-pseudo {
      border-bottom: 0;
      border-top: 0;
    }
  }

  &.start {
    .dialog-prompt-textarea {
      border-bottom-width: 0;
      border-bottom-width: 0;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }

    .dialog-prompt-textarea-pseudo {
      border-bottom-width: 0;
      border-bottom-width: 0;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }
  }

  &.end {
    .dialog-prompt-textarea {
      border-top: 0;
      border-bottom-right-radius: 6px;
      border-bottom-left-radius: 6px;
    }

    .dialog-prompt-textarea-pseudo {
      border-top: 0;
      border-bottom-right-radius: 6px;
      border-bottom-left-radius: 6px;
    }

    margin-bottom: 3px;
  }
}

// Sidebar
.sidebar {
  padding: 0px !important;

  z-index: 3;
  transition: transform 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99),
    visibility 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);

  overflow-y: hidden;
  overflow-x: hidden;

  &.right {
    background-color: var(--surface-b);
    border-left: 1px solid var(--surface-d);
    right: 0;

    &.collapsed {
      transform: translateX(100%);
      visibility: collapse;
      border: 0px;
    }
  }

  &.left {
    background-color: var(--surface-b);
    border-right: 1px solid var(--surface-d);
    left: 0;

    &.collapsed {
      transform: translateX(-100%);
      visibility: collapse;
    }
  }

  .articleTitle {
    color: var(--text-color-secondary);
    text-overflow: ellipsis;
    padding: 12px;
    height: 42px;
    border-bottom: 1px solid var(--surface-border);
  }

  .articleDescription {
    padding: 4px 4px 0px 4px;
    font-size: small;
    text-align: justify;

    .primary {
      color: var(--text-color);
    }

    .secondary {
      color: var(--text-color-secondary);
    }
  }

  .labeled-separator {
    margin: 4px 4px 0px 4px;
    width: auto;

    .label {
      font-size: x-small;
      color: var(--surface-border);
      line-height: 1;
      margin-left: 1px;
      margin-right: 1px;
    }

    .line {
      border-bottom: 1px solid var(--surface-border);
      margin-bottom: 2px;

      &.right {
        width: 90%;

      }

      &.left {
        width: 10%;
        border-bottom-left-radius: 50%;
      }
    }
  }
}

.center {
  background-color: var(--surface-border);

  .content {
    background-color: var(--surface-a);
    width: 100%;
    height: 100%;
    padding: 4px;

    .card {
      background-color: var(--surface-b);
      width: 100%;
      margin-bottom: 4px;
    }
  }

  .empty {
    border-bottom-right-radius: 15px;
  }

  .central-header {
    position: sticky;
    border-bottom: 1px solid var(--surface-border);
    background-color: var(--surface-b);
    padding: 0;

    .toolbarWorkspaces {
      height: 41px;
      color: var(--surface-border);
      background-color: var(--surface-border);

      .toolbarWorkspace {
        background-color: var(--surface-b);
        min-width: 30px;
        border-right: 1px solid var(--surface-border);
        padding-top: 1px;

        &.active {
          background-color: var(--surface-a);

          .workspace-articles {
            .workspace-article {
              background-color: var(--text-color-secondary);
            }
          }
        }

        .workspace-articles {
          width: 100%;
          height: 100%;
          overflow-y: hidden;
          overflow-x: hidden;
          height: 41px;

          .workspace-article {
            background-color: var(--surface-border);
            margin-bottom: 1px;
            margin-left: 1px;
            margin-right: 1px;
            padding-top: 4px;
          }
        }
      }

      .number-cell {
        padding: 6.5px;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        text-align: center;
        vertical-align: middle;
        font-family: monospace;
        font-size: 14px;
        user-select: none;
      }
    }

    .folderAction {
      transition: color 0.1s;
      color: var(--text-color-secondary);

      &:hover {
        color: var(--text-color);
      }
    }
  }

  .dropdown-panel {
    background-color: var(--surface-b);
    opacity: 0;
    pointer-events: all;
    height: 0vh;
    border: 0px solid var(--surface-border);
    transition: height 0.25s, opacity 0.1s cubic-bezier(.77, 0, 1, .23);

    &.active {
      padding: 3px;
      opacity: 1;
      height: 50vh;
      border-bottom: solid 1px var(--surface-border);
    }
  }

  .tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: background-color 0.1s;
    color: var(--text-color-secondary);
    margin-bottom: 0px;
    pointer-events: all;

    .tabs-group {
      display: flex;
      flex-direction: row;
      align-items: center;
      border: 1px solid var(--surface-border);
      border-radius: 6px;
      margin: 3px;
      margin-left: 0px;
      height: 35px;

      &.command-line {
        margin: 3px;
        height: 35px;
        transition: border-color 0.2s;
        width: 100%;

        &:hover {
          border-color: var(--primary-color);
        }

        &.active {
          border-color: var(--primary-color);
        }

        .input {
          background-color: transparent;
          border: 0;
          height: 100%;
          font-family: 'Courier New', Courier, monospace;
          letter-spacing: -1px;
        }
      }

      .tab {
        transition: background-color 0.1s;
        height: 30px;
        width: 30px;
        border-radius: 16px;
        margin: 2px;

        &:hover {
          color: var(--text-color);
          cursor: pointer;
        }

        &.active {
          color: var(--text-color);
          background-color: var(--surface-border);
        }
      }
    }

    .tabInput {
      transition: width 0.2s, padding 0.1s;
      width: 0;
      padding: 0;
      border: 0;
      border-radius: 0;
      border-bottom: 1px solid transparent;
      border-top: 1px solid transparent;
      visibility: collapse;

      &.active {
        visibility: visible;
        width: 240px;
        padding: 8px 12px 8px 0px;
        border-bottom: 1px solid var(--primary-color);
      }
    }
  }

  .footer {
    opacity: 0.5;
    transition: background-color 0.1s;
    color: var(--text-color-secondary);
    border-radius: 20px;
    margin: 4px;

    padding: 4.5px;

    &:hover {
      opacity: 1;
      background-color: var(--surface-b);
    }

    .element {
      padding: 6.5px;
      font-size: 25px;

      &:hover {
        color: var(--text-color);
      }
    }
  }
}

.pseudo {
  padding: 1.5px;
}

.bigpseudo {
  padding: 2px;
}

.hideChildUntilHoverParent {
  >.hideChildUntilHoverChild {
    visibility: hidden;
  }

  &:hover {
    >.hideChildUntilHoverChild {
      visibility: visible;
    }
  }
}

.bordered-element {
  border: solid 1px var(--surface-border);
  border-radius: var(--border-radius);
  background-color: var(--surface-card);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  color: var(--text-color);
}

.sidebar-element {
  &:hover {
    background-color: var(--surface-b);
  }

  &.bordered {
    border: solid 1px var(--surface-border);
    border-radius: var(--border-radius);
  }

  .label {
    margin-left: 6px;
  }

  .button {
    transition: border-color 0.2s cubic-bezier(0.05, 0.74, 0.2, 0.99);
    border: 1px solid rgba($color: #000000, $alpha: 0);
    border-radius: var(--border-radius);
    width: 28px;
    height: 28px;

    &:hover {
      border-color: var(--primary-color);
    }
  }

  &.setFont {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 1rem;
    color: var(--text-color);
  }
}

.unbordered-button {
  background-color: var(--surface-card);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  color: var(--text-color);

  &:hover {
    background-color: var(--surface-hover);
  }
}

.sidebar-search-button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  color: var(--text-color);
  border-color: #ced4da;

  &:hover {
    cursor: pointer;
  }
}

.hover-border-primary {
  transition: border-color 0.2s cubic-bezier(0.05, 0.74, 0.2, 0.99);

  &:hover {
    border-color: var(--primary-color);
  }
}

.hover-color-primary {
  transition: border-color 0.2s cubic-bezier(0.05, 0.74, 0.2, 0.99);

  &:hover {
    color: var(--primary-color);
  }
}

.icon-button {
  font-size: 1.2rem;
  color: var(--text-color);
  width: min-content;
}

.toolbarWorkspaceTooltip {
  .toolbarWorkspaceTooltipArticle {
    padding: 4px 8px 4px 8px;
    border-radius: 10px;
    background-color: var(--surface-a);
  }
}

@media screen and (max-width: 960px) {
  .sidebar {
    &.active {
      transform: translateX(0%);
      z-index: 999;
      visibility: unset;

      .layout-menu {
        padding-bottom: 120px;
      }
    }
  }
}

.idea-placeholder {
  margin: 4px;
  margin-bottom: 0;
  border: 1px solid var(--surface-border);
  padding: 12px;
  font-size: xx-small;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.settings-tooltip-header {
  background-color: var(--surface-a);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 3px 7px 3px 7px;
  margin: 0 1px 0 1px;
}

.settings-tooltip-selector {
  background-color: var(--surface-a);
  padding: 3px 7px 3px 7px;
  margin: 1px 1px 0 1px;
  color: var(--text-color-secondary);
  user-select: none;

  &:hover {
    cursor: pointer;
  }

  &.active {
    background-color: var(--surface-b);
    color: var(--text-color-primary);
  }
}

.message-preview {
  border: 1px solid var(--surface-border);
  border-radius: 6px;
  padding: 6px 10px 6px 10px;
  margin-bottom: 2px;
  width: 15vw;
  height: 2em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}