<p-panel [toggleable]="true" #panel class="panel-hide-default-toggler" [ngClass]="{ activePanel: isActivePanel }"
  *ngIf="note">
  <ng-template pTemplate="header">
    <div *ngIf="!editMode" class="flex flex-column align-items-start">
      <div class="flex flex-row">
        <span class="article-tag pointerOnHover" *ngFor="let group of note.groups"
          (click)="internalLinkActivatedEvent.emit(group)">#{{ group }}</span>
      </div>
      <span style="padding-bottom: 0px">{{ note.name }}</span>
    </div>
    <div *ngIf="editMode">
      <input #nameAndCategoriesInput type="text" class="article-name-input" pInputText [value]="note | articleNameAndCategoriesToString" (change)="renameEvent.emit(nameAndCategoriesInput.value)" />
    </div>
    <div class="flex-grow-1"></div>
  </ng-template>
  <ng-template pTemplate="icons">
    <button (click)="$event.stopPropagation(); editMode = !editMode" pButton pRipple type="button"
      icon="iconoir iconoir-page-edit" class="p-panel-header-icon" [ngClass]="{ buttonActive: editMode }" pTooltip="Edit note"
      style="margin-left: 2px"></button>
    <span class="p-buttonset">
      <button pButton pRipple type="button" icon="iconoir iconoir-nav-arrow-up" class="p-panel-header-icon"
        (click)="moveUpEvent.emit()" pTooltip="Move article up" tooltipPosition="left"></button>
      <button pButton pRipple type="button" icon="iconoir iconoir-nav-arrow-down" class="p-panel-header-icon"
        (click)="moveDownEvent.emit()" pTooltip="Move article down" tooltipPosition="left"></button>
      <button (click)="panel.toggle($event)" pButton pRipple type="button"
        [icon]="'iconoir ' + (panel.collapsed ? 'iconoir-plus-circle' : 'iconoir-minus-circle')" class="p-panel-header-icon"
        [pTooltip]="panel.collapsed ? 'Maximize panel' : 'Minimize article'" tooltipPosition="left"></button>
      <button (click)="closePanelEvent.emit()" pButton pRipple type="button" icon="iconoir iconoir-xmark-circle"
        class="p-panel-header-icon" pTooltip="Close article" tooltipPosition="left"></button>
    </span>
  </ng-template>
  <ng-template pTemplate="content">
    <div *ngIf="!editMode" #contentOutlet [innerHtml]="note.content | parseMarkup"
      style="overflow: hidden; overflow-wrap: break-word" class="article-content"></div>
    <div *ngIf="editMode">
      <textarea pInputTextarea [placeholder]="'Enter note text here'" [(ngModel)]="note.content"
        style="width: 100%; max-width: 100%" [autoResize]="true" class="article-input"></textarea>
    </div>
  </ng-template>
</p-panel>