.bordered {
  padding: 5px;
  border: 1px solid var(--surface-border);
  border-radius: var(--border-radius);
}

.article-tag {
  color: var(--text-color-secondary);
  font-size: x-small; 
  user-select: none;
  padding: 2px;
  padding-right: 0;
  &:hover {
    color: var(--text-color);
  }
}

.title {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-left: 8px;
}

.paddedContent {
  padding: 3px;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.small {
  font-size: 12px;
}

.medium {
  font-size: 16px;
}

.large {
  font-size: 20px;
}

.separator-thin {
  border-radius: var(--border-radius);
  background-color: var(--surface-border);
  min-height: 1px;
  min-width: 1px;
  margin: 1px;
}

.separator-medium {
  border-radius: var(--border-radius);
  background-color: var(--surface-border);
  min-height: 3px;
  min-width: 3px;
  margin: 3px;
}

.separator-wide {
  border-radius: var(--border-radius);
  background-color: var(--surface-border);
  min-height: 5px;
  min-width: 5px;
  margin: 5px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.p-panel-header-icon {
  &.buttonActive {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }
}

.article-name-input {
  height: 30px;
  padding: 2px;
  margin-left: 6px;
}

.article-content {
  padding: 9px;
  :first-child {
    background-color: pink;
  }
}