<div class="graphic-tooltip flex flex-column">
    <div class="flex flex-row">
        <div class="leftButton">
        </div>
        <div class="scrollwheel">
            <div class="pi pi-plus-circle"></div>
            <div class="pi pi-minus-circle"></div>
        </div>
        <div class="rightButton">
        </div>
    </div>
    <div class="scrollwheel-selector" [ngClass]="{'active': activeOption === i}"
        *ngFor="let option of scrollOptions; let i = index">
        {{option}}
    </div>
</div>