html {
  height: 100%;
  background-color: var(--surface-a);
  overflow: hidden;
}

body {
  height: 100%;
  margin: 0;
  
}

:root {
  font-family: Helvetica, sans-serif;
  --font-family: Helvetica, sans-serif;
}

app-root {
  display: flex;
  flex-direction: row;
  height: 100%;
}

p-inputSwitch {
  height: 28px;
}

//Hiding the default toggler for panels, so it doesn't block the far right side of the panel header
.panel-hide-default-toggler {
  .p-panel-toggler {
    display: none;
  }
}

.pi {
  line-height: unset !important;
}

.activePanel {
  font-weight: bold;

  .p-panel-header {
    background-color: var(--surface-b);
  }
}

.p-panel-header {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding-left: 9px;
}

.p-panel-content {
  padding: 5px;
}

.article-content {
  :first-child {
    margin-top: 0px;
  }
}

.menubar {
  .p-menubar {
    padding: 0;
    background-color: var(--surface-b);
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
  }

  .p-menuitem {
    .p-menuitem-link {
      border-radius: 0 !important;
    }
  }

}

.internalLink {
  color: var(--blue-700);

  &:hover {
    cursor: pointer;
  }
}

.pointerOnHover {
  &:hover {
    cursor: pointer;
  }
}

.p-tooltip .p-tooltip-text {
  padding: 4px 6px 4px 6px;
  border-radius: 15px;
  box-shadow: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.p-inputtext:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0px #000000;
}

.pseudoBorder {
  border-bottom: 1px solid var(--surface-border);
}

.pseudo {
  padding: 1.5px;
}

.bigpseudo {
  padding: 2px;
}

.vmarg {
  margin-top: 2px;
  margin-bottom: 2px;
}

.box {
  padding: 8px;
  border: 1px solid var(--surface-border);
  width: max-content;
  border-radius: 6px;
  background-color: var(--surface-a);
  width: 400px;
  overflow: hidden;

  &:not(:last-child) {
    margin-right: 3px;
  }

  .p-cascadeselect-panel {
    padding: 0px;
    border-radius: 0;
  }

  .p-cascadeselect-panel .p-cascadeselect-item-content {
    padding: 8px 8px 8px 8px;
  }

  .p-cascadeselect {
    margin-right: 2px;
  }
}

.iconButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 4px;
  transition: border 0.2s, background-color 0.05s;
  height: auto;
  border: 1px solid var(--surface-border);
  color: var(--text-color-secondary);
  border-radius: 3px;

  &.active {
    border-bottom: 1px solid var(--primary-color);
  }

  &:active {
    transition: background-color 0s;
    background-color: var(--surface-border);
  }

  &:hover {
    cursor: pointer;
    color: var(--text-color);
    border-color: var(--text-color-secondary);
  }
}

.textBox {
  transition: border 0.2s;
  border: 1px solid var(--surface-border);
  padding: 8px;
  min-width: max-content;
  width: 100%;
  margin-right: 2px;
  white-space: nowrap;
  border-radius: 3px;
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: -2px;

  &.active {
    border-bottom: 1px solid var(--primary-color);
  }
}

.tutorial-text {
  width: 60%;
  align-self: center;
  text-align: center;
  color: rgba(128, 128, 128, 0.75);
}

.tooltipList {
  display: flex;
  flex-direction: column;
  .tooltipListItem {
    padding: 4px 8px 4px 8px;
    border-radius: 10px;
    background-color: var(--surface-a);
    min-height: 27px;
    min-width: 100px;
    font-size: small;
  }
}

.tooltip-background {
  background-color: var(--surface-a);
  border-radius: 10px;
  padding: 3px 7px 3px 7px;

  &.clickable {
    &:hover {
      background-color: var(--surface-b);
      cursor: pointer;
    }
  }
}

.settings-tooltip-header {
  background-color: var(--surface-a);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 3px 7px 3px 7px;
  margin: 0 1px 0 1px;
}

.settings-tooltip-selector {
  background-color: var(--surface-a);
  padding: 3px 7px 3px 7px;
  margin: 1px 1px 0 1px;
  color: var(--text-color-secondary);
  user-select: none;

  &:hover {
    cursor: pointer;
  }

  &.active {
    background-color: var(--surface-b);
    color: var(--text-color);
  }
}

.hideChildUntilHoverParent {
  >.hideChildUntilHoverChild {
      visibility: hidden;
  }

  &:hover {
      >.hideChildUntilHoverChild {
          visibility: visible;
      }
  }
}

.iconoir {
  font-size: larger;
}

.maximize {
  width: 100%;
  height: 100%;
}