:root {
  --color-notes: #b20200;
  --color-categories: #004db2;
  --color-chronicle: #b29400;
  --color-atlas: #7700b2;
  --color-generators: #3bb200;
  --color-resources: #0094b2;
}

/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
  body {
    height: 100%;
    margin: 0;
  }
}

p-inputSwitch {
  height: 28px;
}

//Hiding the default toggler for panels, so it doesn't block the far right side of the panel header
.panel-hide-default-toggler {
  .p-panel-toggler {
    display: none;
  }
}

.pi {
  line-height: unset !important;
}

.left {
  .notes {
    border-left: 3px solid var(--color-notes) !important;
  }
  .categories {
    border-left: 3px solid var(--color-categories) !important;
  }
  .chronicle {
    border-left: 3px solid var(--color-chronicle) !important;
  }
  .atlas {
    border-left: 3px solid var(--color-atlas) !important;
  }
  .generators {
    border-left: 3px solid var(--color-generators) !important;
  }
  .resources {
    border-left: 3px solid var(--color-resources) !important;
  }
}

.right {
  .notes {
    border-right: 3px solid var(--color-notes) !important;
  }
  .categories {
    border-right: 3px solid var(--color-categories) !important;
  }
  .chronicle {
    border-right: 3px solid var(--color-chronicle) !important;
  }
  .atlas {
    border-right: 3px solid var(--color-atlas) !important;
  }
  .generators {
    border-right: 3px solid var(--color-generators) !important;
  }
  .resources {
    border-right: 3px solid var(--color-resources) !important;
  }
}

.border-sides-type-color {
  &.notes {
    .p-panel {
      border-left: 3px solid var(--color-notes) !important;
      border-right: 3px solid var(--color-notes) !important;
    }
  }
  &.categories {
    .p-panel {
      border-left: 3px solid var(--color-categories) !important;
      border-right: 3px solid var(--color-categories) !important;
    }
  }
  &.chronicle {
    .p-panel {
      border-left: 3px solid var(--color-chronicle) !important;
      border-right: 3px solid var(--color-chronicle) !important;
    }
  }
  &.atlas {
    .p-panel {
      border-left: 3px solid var(--color-atlas) !important;
      border-right: 3px solid var(--color-atlas) !important;
    }
  }
  &.generators {
    .p-panel {
      border-left: 3px solid var(--color-generators) !important;
      border-right: 3px solid var(--color-generators) !important;
    }
  }
  &.resources {
    .p-panel {
      border-left: 3px solid var(--color-resources) !important;
      border-right: 3px solid var(--color-resources) !important;
    }
  }
}

.p-scrollpanel {
  &.custombar {
    .p-scrollpanel-wrapper {
      .p-scrollpanel-content {
        width: 100%;
        padding: 0;
      }
    }
    .p-scrollpanel-bar {
      visibility: collapse !important;
    }
  }
}

.sidemenuPanel {
  margin-bottom: 1px;
  .p-panel {
    .p-panel-header {
      padding: 0px !important;
      height: 35px;
      span {
        margin-left: 1px;
        align-items: center;
      }
    }
    .p-panel-content {
      padding: 0px !important;
      .element {
        height: 35px;
      }
    }
  }
}

.internalLink {
  color: var(--blue-700);
  &:hover {
    cursor: pointer;
  }
}

.isActivePanel {
  font-weight: bold;
  &.notes {
    color: var(--color-notes) !important;
  }
  &.categories {
    color: var(--color-categories) !important;
  }
  &.chronicle {
    color: var(--color-chronicle) !important;
  }
  &.atlas {
    color: var(--color-atlas) !important;
  }
  &.generators {
    color: var(--color-generators) !important;
  }
  &.resources {
    color: var(--color-resources) !important;
  }
}
