/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;

  body {
    height: 100%;
    margin: 0;
  }
}

p-inputSwitch {
  height: 28px;
}

//Hiding the default toggler for panels, so it doesn't block the far right side of the panel header
.panel-hide-default-toggler {
  .p-panel-toggler {
    display: none;
  }
}

.pi {
  line-height: unset !important;
}

.p-scrollpanel {
  &.custombar {
    .p-scrollpanel-wrapper {
      .p-scrollpanel-content {
        width: 100%;
        padding: 0;
      }
    }

    .p-scrollpanel-bar {
      visibility: collapse !important;
    }
  }
}

.p-panel-expanded {
  .p-panel-header {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

.p-panel-header {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.sidemenuPanel {
  margin-bottom: 1px;

  .p-panel {
    .p-panel-header {
      padding: 0px !important;
      height: 35px;

      span {
        margin-left: 1px;
        align-items: center;
      }
    }

    .p-panel-content {
      padding: 0px !important;

      .element {
        height: 35px;
      }
    }
  }
}

.menubar {
  .p-menubar {
    padding: 0;
    background-color: var(--surface-b);
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
  }
  .p-menuitem {
    .p-menuitem-link {
      border-radius: 0 !important;

    }
  }
}

.internalLink {
  color: var(--blue-700);

  &:hover {
    cursor: pointer;
  }
}

.activePanel {
  font-weight: bold;

  .p-panel-header {
    background-color: var(--surface-b);
  }
}
