html {
  height: 100%;
  background-color: var(--surface-a);
  overflow: hidden;
}

body {
  height: 100%;
  margin: 0;
}

:root {
  font-family: Helvetica, sans-serif;
  --font-family: Helvetica, sans-serif;
}

app-root {
  display: flex;
  flex-direction: row;
  height: 100%;
}

//@PrimeNG file panel default toggler is disabled
.panel-hide-default-toggler {
  .p-panel-toggler {
    display: none;
  }
}

//@PrimeNG file panel is displayed differently
.p-panel-header {
  border-radius: 0px;
  padding-left: 0px;
  padding-right: 0px;
  border-left: 0;
  border-right: 0;
}

//@PrimeNG file panel header shows no border when panel is expanded
.p-panel-expanded {
  .p-panel-header {
    border-bottom: 0;
  }
}

//@PrimeNG file panel content reduced padding and simplified style
.p-panel-content {
  border-radius: 0px;
  padding: 5px;
  margin-bottom: 2px;
  border-left: 0;
  border-right: 0;
  border-top: 0;

  :last-child {
    margin-bottom: 0;
  }
}

.activePanel {
  .p-panel-header {
    background-color: var(--surface-b);
  }

  .p-panel-content {
    background-color: var(--surface-b);
  }
}

.article-content {
  :first-child {
    margin-top: 0px;
  }
}

.internalLink {
  color: var(--blue-700);

  &:hover {
    cursor: pointer;
  }
}

.pointerOnHover {
  &:hover {
    cursor: pointer;
  }
}

//@PrimeNg
.p-tooltip .p-tooltip-text {
  padding: 4px 6px 4px 6px;
  border-radius: 15px;
  box-shadow: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

//@PrimeNg
.p-inputtext:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0px #000000;
}

.pseudoBorder {
  border-bottom: 1px solid var(--surface-border);
}

.pseudo {
  padding: 1.5px;
}

.tutorial-text {
  width: 60%;
  align-self: center;
  text-align: center;
  color: rgba(128, 128, 128, 0.75);
}

.tooltipList {
  display: flex;
  flex-direction: column;

  .tooltipListItem {
    padding: 4px 8px 4px 8px;
    border-radius: 10px;
    background-color: var(--surface-a);
    min-height: 27px;
    min-width: 100px;
    font-size: small;
  }
}

.tooltip-background {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--surface-a);
  border-radius: 10px;
  padding: 3px 7px 3px 7px;

  &:not(:first-of-type) {
    margin-top: 2px;
  }

  &.clickable {
    &:hover {
      background-color: var(--surface-b);
      cursor: pointer;
    }
  }
}

.settings-tooltip-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--surface-a);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 2px 7px 3px 7px;

  &:not(:first-of-type) {
    margin-top: 2px;
  }
}

.settings-tooltip-selector {
  background-color: var(--surface-a);
  padding: 3px 7px 3px 7px;
  color: var(--text-color-secondary);
  user-select: none;

  &:hover {
    cursor: pointer;
  }

  &.active {
    background-color: var(--surface-b);
    color: var(--text-color);
  }

  &:last-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.settings-tooltip-input {
  border-color: var(--surface-b);
  border-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  &:hover {
    border-color: var(--primary-color);
  }
}

.hideChildUntilHoverParent {
  >.hideChildUntilHoverChild {
    visibility: hidden;
  }

  &:hover {
    >.hideChildUntilHoverChild {
      visibility: visible;
    }
  }
}

.iconoir {
  font-size: 23px;
}

.faint {
  color: var(--surface-border);
}

.fade-on-hover-parent {

  &:hover {
    .fade-out-on-hover-child {
      opacity: 0;
    }

    .fade-in-on-hover-child {
      opacity: 1;
    }
  }


  .fade-out-on-hover-child {
    z-index: 1;
    transition: opacity 0.1s;
  }

  .fade-in-on-hover-child {
    z-index: 2;
    transition: opacity 0.1s;
    opacity: 0;
  }
}