<p-dialog header="Edit LLM Configuration" [visible]="editConfig !== undefined && editConfigIndex !== undefined"
  [style]="{width: '40vw'}" (onHide)="editConfig = undefined">
  <ng-template pTemplate="closeicon"></ng-template>
  <div class="flex flex-column">
    <textarea pInputTextarea style="width: 100%; height: 40vh;" [(ngModel)]="editConfig"></textarea>
    <div class="flex flex-row justify-content-between" style="margin-top: 2px;">
      <button pButton pRipple label="Delete" class="p-button-danger" style="margin-right: 2px"
        (click)="menuEventEmitter.emit(['/delete_api', ''+editConfigIndex]); closeButton.click()"></button>
      <div>
        <button pButton pRipple label="Save" class="p-button-primary" style="margin-right: 2px"
          (click)="saveLLMConfigJSON(editConfig ?? '', editConfigIndex ?? -1)"></button>
        <button #closeButton pButton pRipple label="Cancel" class="p-button-secondary"
          (click)="editConfig = undefined; editConfigIndex = undefined"></button>
      </div>
    </div>
  </div>
</p-dialog>

<div class="menu-list">
  <div class="menu-item-container">
    <div class="menu-item border-bottom-0 border-top-0 border-right-transparent border-left-transparent">
      <div class="iconoir iconoir-settings menu-item-icon hover-highlighting right-6px"></div>
    </div>
  </div>
  <div>
    <div class="menu-item-container margin-top-6px fade-on-hover-parent">
      <div class="menu-item border-top-0 border-left-transparent hover-highlighting">
        <div class="menu-item-text fade-out-on-hover-child">
          <b class="text-color-primary">/api</b><i> url [key]</i>
        </div>
        <input #apiUrlInput placeholder="Enter URL" class="menu-item-input width-79px fade-in-on-hover-child"
          (wheel)="selectedApiRecommendationIndex = scrollIncrementDecrement(false, $event, selectedApiRecommendationIndex, 1, apiRecommendations.length-1, -1); apiUrlInput.value = apiRecommendations[selectedApiRecommendationIndex] || ''"
          [pTooltip]="apiUrlTooltip" tooltipPosition="left">
        <ng-template #apiUrlTooltip>
          <div class="settings-tooltip-header flex justify-content-between align-items-center">Known LLM APIs
            <div class="iconoir iconoir-mouse-scroll-wheel" style="margin-left: 5px;"></div>
          </div>
          <div class="settings-tooltip-selector" [ngClass]="{'active': selectedApiRecommendationIndex === -1}">
            {{'Custom URL'}}
          </div>
          <div class="settings-tooltip-selector" [ngClass]="{'active': selectedApiRecommendationIndex === i}"
            *ngFor="let url of apiRecommendations; let i = index">
            {{url | urlDomain}}
          </div>
        </ng-template>
        <input #apiKeyInput placeholder="Enter Key" type="password"
          class="menu-item-input width-79px fade-in-on-hover-child">
        <div class="iconoir iconoir-globe menu-item-icon right-6px hover-highlighting"
          (click)="menuEventEmitter.emit(['/api', apiUrlInput.value + ' ' + apiKeyInput.value])"></div>
      </div>
    </div>
    <div class="menu-item-container fade-on-hover-parent" *ngFor="let apiConfig of allApis, index as i, last as isLast">
      <div class="menu-item border-top-0 border-bottom-0 border-left-transparent grow-on-hover hover-highlighting"
        (click)="editConfig = JSON.stringify(apiConfig, null ,2); editConfigIndex = i"
        [ngClass]="{'highlighted':editConfigIndex === i}">
        <div class="menu-item-text">
          <div class="tiny-faint-text">/api </div>{{apiConfig.url | urlDomain}}
        </div>
        <div class="iconoir iconoir-server-connection menu-item-icon right-6px"></div>
        <p-contextMenu #projectContextMenu [model]="existingProjectMenuItems" [triggerEvent]="'click'"
          appendTo="body"></p-contextMenu>
      </div>
    </div>
    <div class="menu-item-container margin-top-6px fade-on-hover-parent">
      <div class="menu-item border-top-0 border-left-transparent hover-highlighting">
        <div class="menu-item-text fade-out-on-hover-child">
          <b class="text-color-primary">/archive</b><i> name</i>
        </div>
        <input #vaultNameInput placeholder="Enter new archive name"
          class="menu-item-input width-158px fade-in-on-hover-child">
        <div class="iconoir iconoir-folder-plus menu-item-icon hover-highlighting right-6px"
          (click)="onEnterVault(vaultNameInput.value)"></div>
      </div>
    </div>
    <div class="menu-item-container fade-on-hover-parent"
      *ngFor="let project of allProjectsPromise | async, last as isLast">
      <div class="menu-item border-top-0 border-bottom-0 border-left-transparent grow-on-hover hover-highlighting" (click)="onEnterVault(project.title)"
        (contextmenu)="lastRightClickedProject = project.title; projectContextMenu.toggle($event); $event.preventDefault()"
        [ngClass]="{'highlighted':project.title === activeProject}">
        <div class="menu-item-text">
          <div class="tiny-faint-text">/archive </div>{{project.title}}
        </div>
        <div class="iconoir menu-item-icon right-6px" [ngClass]="{
          'iconoir-folder': project.title !== activeProject,
          'iconoir-floppy-disk': project.title === activeProject,
        }"></div>
        <p-contextMenu #projectContextMenu [model]="existingProjectMenuItems" [triggerEvent]="'click'"
          appendTo="body"></p-contextMenu>
      </div>
    </div>
    <div class="menu-item-container margin-top-6px fade-on-hover-parent">
      <div class="menu-item border-top-0 border-left-transparent hover-highlighting">
        <div class="menu-item-text fade-out-on-hover-child">
          <b class="text-color-primary">/file</b><i> name</i>
        </div>
        <input #filenameInput placeholder="Enter new file name"
          class="menu-item-input width-158px fade-in-on-hover-child">
        <div class="iconoir iconoir-page-plus menu-item-icon hover-highlighting right-6px"
          (click)="menuEventEmitter.emit(['/file', filenameInput.value])"></div>
      </div>
    </div>
    <div class="menu-item-container margin-top-6px fade-on-hover-parent">
      <div class="menu-item border-top-0 border-left-transparent hover-highlighting">
        <div class="menu-item-text fade-out-on-hover-child">
          <b class="text-color-primary">/help</b>
        </div>
        <input placeholder="Ask any question" class="menu-item-input width-158px fade-in-on-hover-child">
        <div class="iconoir iconoir-help-circle menu-item-icon hover-highlighting right-6px"></div>
      </div>
    </div>
  </div>
</div>